<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigscreen.binarygame" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.bigscreen.binarygame.BGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".menu.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".score.ScoreActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />

    </application>

</manifest>
